.mainContent {
  display: flex;
  border-bottom: #81c05a solid 2px;
  padding-bottom: 20px;
}
.imgContent {
  padding-left: 30px;
  padding-top: 20px;
}
.mainImg {
  display: block;
  margin-top: 10px;
  width: 250px;
  /* height: 350px; */
  object-fit: cover;
}
.button {
  display: block;
  width: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #81c05a;
  color: white;

  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  border: 1px solid #81c05a;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #43990e;
}
.textCont {
  padding-top: 80px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
.addContent {
  padding-top: 20px;
  padding-left: 30px;
  border-bottom: #81c05a solid 2px;
  padding-bottom: 10px;
}
.addButton {
  color: #43990e;
  font-size: 18px;
  font-weight: 600;
}
.activeAddButton {
  color: rgb(95, 6, 68);
}
