.navList {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.navItem {
  margin-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navItem:last-child {
  margin-right: 0;
}

.navLink {
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.activeNavLink {
  color: rgb(231, 250, 231);
}
.activeNavLink:after {
  content: "";
  display: block;
  height: 2px;
  background: rgb(231, 250, 231);
}
